In [1]:
import pandas as pd

In [9]:

# Exemple de données
data = {
    'Ingredients': [
        'tomate, oignon, ail',
        'carotte, tomate',
        'ail, basilic'
    ]
}

In [11]:
# Créer un DataFrame
df = pd.DataFrame(data)

# Séparer les ingrédients et créer une matrice d'identité
ingredients = df['Ingredients'].str.get_dummies(sep=', ').astype(int)

# Afficher la matrice d'identité
print(ingredients)

   ail  basilic  carotte  oignon  tomate
0    1        0        0       1       1
1    0        0        1       0       1
2    1        1        0       0       0

In [12]:
df.head()

           Ingredients
0  tomate, oignon, ail
1      carotte, tomate
2         ail, basilic

In [ ]:
df